atAlabamaFTBL.txt
atBadgerFootball.txt
atCFBPlayoff.txt
atClemsonFB.txt
atOU_Football.txt
atOhioStateFB.txt
atPennStateFball.txt
atUMichFootball.txt
atUW_Football.txt
hasWashington.txt
hashCFBPlayoff.txt
hashClemson.txt
hashMichigan.txt
hashOhioState.txt
hashPennState.txt
hashWisconsin.txt
